#accessCodeBox
{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30rem;
    font-size: 150%;
    box-shadow: var(--shadow-3);
    padding: 1rem;
    background-color: white;
}

#accessCodeBox>*
{
    display: inline-block;
    width: 100%;
}
